@charset "UTF-8";
@import "./variable";

@mixin box {
  min-width: 360px;
  border: 0.5px solid #979797;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #333333;
  padding: 8px;
}

// 文字消すやつ
@mixin hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
