<section>
  <app-heading level="1" text="Profile"></app-heading>
  <div class="profile">
    <div class="profile__detail">
      <section class="profile__section">
        <app-heading level="2" text="Name"></app-heading>
        <p class="profile__value">水無瀬</p>
      </section>
      <section class="profile__section">
        <app-heading level="2" text="Job"></app-heading>
        <p class="profile__value">Web Developer</p>
      </section>
    </div>
    <div class="profile__detail">
      <section class="profile__section">
        <app-heading level="2" text="Accounts"></app-heading>
        <div class="profile__link-list">
        <app-ul-component [itemList]="linkList" direction="horizontal" size="small"
                      type="icon"></app-ul-component>
        </div>
      </section>
    </div>
  </div>
</section>
