@charset "UTF-8";
@import "../../../../common/style/mixin";

@mixin column {
  margin: 12px 0 0 12px;
}

@mixin list {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

@mixin list-item {
  width: $pc-list-large-icon;
}

@mixin icon {
  border: solid 1px $black;
  height: $pc-list-large-icon;
  width: $pc-list-large-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-list-large-icon;
    width: $sp-list-large-icon;
  }
}

@mixin paragraph {
  font-size: 2rem;
  font-weight: bold;
  line-height: $pc-list-large-icon;
  text-align: center;
  width: $pc-list-large-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    font-size: 1.5rem;
    line-height: $sp-list-large-icon;
    width: $sp-list-large-icon;
  }
}

.skill {
  margin-top: 24px;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-row-gap: 16px;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    width: 100%;
  }
}

.skill__item {
  @include column;
  @include box;
}

.skill__list {
  @include list;

}

.skill__list__item {
  @include list-item;
}

.skill__icon {
  @include icon;
}

.skill__paragraph {
  @include paragraph;
}
